<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="table-container">
      <table>
        <tr>
          <th>Fee Paid Status</th>
          <th>UK Resident Status</th>
          <th>Risk Rating Medium</th>
          <th>Loan-to-Value</th>
        </tr>
        <tr>
          <td><%if(feeStatus){%> Paid <%}else{%> <%Unpaid } %></td>

          <td><%if(ukResident){%> Yes <%}else{%> <%Unpaid } %></td>
          <td><%=riskRating%></td>
          <td><%=ltv%></td>
        </tr>
        <tr>
          <td colspan="3">Final Result</td>
          <td><%if(checkAllConditions){%> PASS <%}else{%> <% Fail }%></td>
        </tr>
      </table>
    </div>
  </body>
</html>
